@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');
* {
  margin:0;
  padding:0;
  box-sizing: border-box
}
.navbar {
  width:100%;
  height:60px;
  background: rgb(165, 180, 96)2;
background: radial-gradient(circle, rgba(20,133,172,1) 0%, rgb(165, 180, 96) 100%);
  color: black;
   margin: auto;
  display: flex;
  justify-content:space-around;
  align-items: center;
  font-family: 'Cairo', sans-serif;
}

.right {
  display:flex;
}

.right div {
  margin:0 10px;
  padding: 5px 15px;
  border-radius:10px;
  transition: all .8s ease-in-out
}

.right div:hover{
  background: #00203fa0
}

  .container {
    font-family: arial;
    font-size: auto;
    margin: auto;
    width: auto;
    height: auto;
    
  }
  
  h1 {
    /* Center horizontally*/
    text-align: center;
  }
  p {
    /* Center horizontally*/
    text-align: center;
  }
  .grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;
    background: rgb(197, 94, 94)1 ;
background: radial-gradient(circle, rgba(20,133,172,1) 0%, rgb(169, 238, 238) 100%);
    padding: 5px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }